{% extends "base2.html" %}
{% block title %} Display {% endblock %}
{% block content %}

<div>
    <h4> Flight Details Are:</h4>
    <table>
        <tr>
          <th>Flight ID</th>   
          <th>Flight name</th>
        </tr>
        {% for key,value in flightname.items() %}          
        <tr>
          <td>{{key}}</td>
          <td>{{value}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div style="text-align: center;">
  {% with messages = get_flashed_messages(with_categories = true) %}
  {% if messages %}
      {% for category,message in messages %}
          <div class="alert alert-{{category}}"> {{message}}</div>
      {% endfor %}
  {% endif %}
{% endwith %}
</div>
<div>
    <form action="{{url_for('display2')}}" method="POST" autocomplete="off" id="login-form">
        <div class="form-group">
          <label for="flightid">Enter Flight ID</label>
          <input type="text" id="flightid" name = "flightid" placeholder="Enter Flight ID Eg(0 or 1)" required>
        </div> 
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
   

{% endblock %}